<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smartshop.co.mz">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.GerirProduto"></activity>
        <activity android:name=".ui.PacotesLojas" />
        <activity android:name=".ui.MInhaLojaList" />
        <activity android:name=".ui.Comentar" />
        <activity android:name=".ui.MinhaLoja" />
        <activity
            android:name=".ui.SmartWallet"
            android:label="@string/title_activity_smart_wallet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".criar_loja.Infoloja_0" />
        <activity android:name=".criar_loja.Infoloja_2" />
        <activity android:name=".criar_loja.Infoloja_1" />
        <activity android:name=".ui.Comprar" />
        <activity android:name=".ui.Loja_Produto" />
        <activity android:name=".ui.LojasOficias" />
        <activity android:name=".ui.Loja" />
        <activity
            android:name=".ui.CategoriaResult"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".publicar.Editar"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ui.Filtro"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".chat.Chat"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".chat.ChatListMain"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".publicar.pick_img.ListImageSelectedActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".publicar.pick_img.MainActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ui.Sobre"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ui.Notificacoes"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ui.PesquisarCategoria"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".publicar.EscolherImagem"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.Login"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ui.ImagemTelaCheia"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".publicar.Promover"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".publicar.InformacoesPublicar"
            android:screenOrientation="userPortrait" />
        <activity android:name=".publicar.InformacoesPublicar_na_loja"/>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".publicar.Publicar"
            android:screenOrientation="userPortrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="kl" />

        <activity
            android:name=".ui.Pesquisar"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ui.MainLoja"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ui.MapsActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ui.Intro"
            android:label="@string/app_name"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6402233568713542~2223527837" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>